{% extends "settings/layout.html" %}
{% block settings_content %}
<div class="section">
  <div class="field is-grouped is-grouped-centered">
    <form action="" method="post" novalidate>
      <div class="section">
        <h3 class="title is-3 is-spaced">
          <span>Here Be Dragons</span>
        </h3>
        <hr>
        <h5 class="title is-5 is-spaced">
          <span>Delete Account</span>
        </h5>
        <div class="field">
          <div class="label">
            {{ form.current_password.label }}
          </div>
          <div class="control">
            {{ form.current_password(size=32, class_="input") }}
          </div>
          {% for error in form.current_password.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="field">
          <div class="label">
            {{ form.i_am_sure.label }}
          </div>
          <div class="control">
            {{ form.i_am_sure(size=32, class_="input") }}
          </div>
          {% for error in form.i_am_sure.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <span>Note: This is permanent, there is no way to recover a deleted account.</span>
      <div class="field has-addons has-addons-right">
        <div class="control has-addons has-addons-right">
          {{ form.submit(class_="button is-link") }}
        </div>
      </div>
      {{ form.hidden_tag() }}
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="label flash_{{category}}">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </form>
  </div>
</div>
{% endblock %}
