{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="tabs">
    <ul>
      <li {% if selected_tab == "general" %}class="is-active"{% endif %}><a href="{{ url_for('settings.general') }}">General</a></li>
      <li {% if selected_tab == "privacy" %}class="is-active"{% endif %}><a href="{{ url_for('settings.privacy') }}">Privacy</a></li>
      <li {% if selected_tab == "security" %}class="is-active"{% endif %}><a href="{{ url_for('settings.security') }}">Security</a></li>
    </ul>
  </div>
</section>
{% block settings_content %}
{% endblock %}
{% endblock %}
