{% extends "settings/layout.html" %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static',filename='css/leaflet.css') }}>
    <script type="text/javascript" src="/static/js/leaflet.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/leaflet-gesture-handling.min.js" nonce="{{ csp_nonce() }}"></script>
    <link rel="stylesheet" href={{ url_for('static',filename='css/leaflet-gesture-handling.min.css') }}>
{% endblock %}

{% block settings_content %}
<div class="section">
  <div class="is-grouped is-grouped-centered">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="label flash_{{category}}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="section">
      <h5 class="title is-5 is-spaced">
        <span>Publicly Shared Activities</span>
      </h5>
      {% if shared_activities %}
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Activity Name</th>
            <th>Sport</th>
            <th></th>
          </tr>
        </thead
        {% for activity in shared_activities %}
        <tr>
          <th><a href="{{url_for('activity.activity', activity_id=activity.activity_id)}}">{{activity.name}}</a></th>
          <th>{{activity.sport}}</th>
          <th>
            <form action="" method="post">
              <button name="shareButton" class="button is-danger is-small" type="submit" value="{{ activity.public_token }}">Unshare</button>
            </form>
          </th>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <h6 class="is-6 is-spaced">There are no shared activites.</h6>
      {% endif %}
    </div>
  </div>
  <div class="section">
    <div class="is-grouped is-grouped-centered">
      <h5 class="title is-5 is-spaced">
        <span>Privacy Geofence for Shared Activities</span>
      </h5>
      <span >Select a point on the map and a radius to have location data in this area removed from any activities that are shared publicly.</span>
      <div id="geofence_mapid" style="height:480px; z-index:1; margin-top: 2em" class="box"></div>
      <form action="" method="post" novalidate style="margin-top: 2em">
        <div id="radius_control_field" class="field centered">
          <div class="label">
            {{ geofence_form.geofence_radius.label }}
          </div>
          <div id='radius_value_label'>{{ geofence_radius_meters / 1000 }} km</div>
          <div class="control">
            {{ geofence_form.geofence_radius(size=32, min=0.1, max=5, step=0.1, value=geofence_radius_meters / 1000) }}
          </div>
          {% for error in geofence_form.geofence_radius.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div>
          {{ geofence_form.geofence_coord(value=geofence_coord) }}
        </div>
        <div class="field centered">
          <div id='geofence_submit_field' class="field">
            {{ geofence_form.submit_geofence(class_="button is-link") }}
          </div>
          {% if geofence_enabled %}
          <div class="field">
            {{ geofence_form.remove_geofence(class_="button is-link is-danger") }}
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<script nonce="{{ csp_nonce() }}">
  L.Icon.Default.imagePath = "{{ url_for('static', filename='img/') }}";
  var geofence_map = L.map('geofence_mapid', {
    zoomDelta: 0.25,
    zoomSnap: 0,
    gestureHandling: true
  });
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
	geofence_map.addLayer(osm);

  var geofence_submit_btn = $("#geofence_submit_field");
  var geofence_radius_input = $("#radius_control_field");
  var geofence_coord_input = $("#geofence_coord");

  var geofence_circle = L.circle([0, 0], {
    color: 'red',
    fillColor: '#e05',
    fillOpacity: 0.1,
    radius: {{ geofence_radius_meters if geofence_enabled else 100 }}
  });
  geofence_submit_btn.hide();
  {% if not geofence_coord[0] %}
  geofence_map.fitWorld();
  var geofence_center_marker = L.marker([0, 0]);
  geofence_radius_input.hide();
  {% else %}
  var existing_coord = [{{ geofence_coord[0]|string + ', ' + geofence_coord[1]|string }}];
  var geofence_center_marker = L.marker([{{geofence_coord[0]|string + ', ' + geofence_coord[1]|string}}]).addTo(geofence_map);
  geofence_circle.setLatLng(existing_coord);
  geofence_circle.addTo(geofence_map)
  geofence_radius_input.show();
  geofence_map.setView(existing_coord, 14)
  geofence_map.fitBounds(geofence_circle.getBounds());
  {% endif %}

  // map events
  geofence_map.on('click', function onMapClick(e) {
    geofence_center_marker.setLatLng(e.latlng);
    geofence_center_marker.addTo(geofence_map);
    geofence_circle.setLatLng(e.latlng);
    geofence_circle.addTo(geofence_map);
    geofence_radius_input.show();
    geofence_submit_btn.show();
    geofence_coord_input.val(e.latlng.lat + ',' + e.latlng.lng);
  });

  // radius range selection events
  $("#geofence_radius").on('input', function () {
    $(this).trigger('change');
  });
  $("#geofence_radius").on('change', function (e){
      $("#radius_value_label").text(e.target.value + ' km');
      if (!geofence_map.hasLayer(geofence_center_marker)){
        return;
      }
      geofence_circle.setRadius(e.target.value * 1000);
      geofence_circle.addTo(geofence_map);
      geofence_radius_input.show();
      geofence_submit_btn.show();
  });
</script>
{% endblock %}
