{% extends "settings/layout.html" %}
{% block settings_content %}
<div class="section">
  <div class="is-grouped is-grouped-centered">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="label flash_{{category}}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="section">
      <h5 class="title is-5 is-spaced">
        <span>Change E-mail Address</span>
      </h5>
      <form action="" method="post" novalidate>
        <h5 class="title is-5 is-spaced">
        </h5>
        <div class="field">
          <div class="label">
            {{ form.email.label }}
          </div>
          <div class="control">
            {{ form.email(size=32, class_="input") }}
          </div>
          {% for error in form.email.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
    </div>
    <div class="section">
      <h5 class="title is-5 is-spaced">
        <span>Change Password</span>
      </h5>
      <div class="field">
        <div class="label">
          {{ form.new_password.label }}
        </div>
        <div class="control">
          {{ form.new_password(size=32, class_="input") }}
        </div>
        {% for error in form.new_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="field">
        <div class="label">
          {{ form.repassword.label }}
        </div>
        <div class="control">
          {{ form.repassword(size=42, class_="input") }}
        </div>
        {% for error in form.repassword .errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="field">
        <div class="label">
          {{ form.current_password.label }}
        </div>
        <div class="control">
          {{ form.current_password(size=42, class_="input") }}
        </div>
        {% for error in form.current_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="field has-addons has-addons-right">
      <div class="control has-addons has-addons-right">
        {{ form.submit(class_="button is-link") }}
      </div>
    </div>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="label flash_{{category}}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
      </form>
  </div>
</div>
{% endblock %}
