@charset "utf-8";

// Color palette
$purple: #4F1E3E;
$grey: #50514F;
$red: #FF5964;
$blond: #FFE066;
$green: #70C1B3;
$blue: #009DDC;
$white: #f2f2f2;
$purple: #29339B;
$salmon: #EB9486;

// Global variables
$grey-dark: $grey;
$link: $blue;
$success: $salmon;
$danger: $red;
$warning: $blond;
$block-spacing: .25rem;

// Component variables
$control-border-width: 2px;
$section-padding: 1.5rem .75rem;
$box-padding: 0.75rem;

// Import everything, too tedious to try and reduce for little size gain
@import "../../bulma/bulma.sass";
