{% extends "layout.html" %}
{% block content %}
<div class="section">
  <div class="field is-grouped is-grouped-centered">
    <form action="" method="post" novalidate>
      <div class="field">
        <div class="label">
          {{ form.username.label }}
        </div>
        <div class="control">
          {{ form.username(size=32, class_="input") }}
        </div>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="field">
        <div class="label">
          {{ form.password.label }}
        </div>
        <div class="control">
          {{ form.password(size=42, class_="input") }}
        </div>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="field">
        <div class="label">
          {{ form.repassword.label }}
        </div>
        <div class="control">
          {{ form.repassword(size=42, class_="input") }}
        </div>
        {% for error in form.repassword.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="field">
        <div class="label">
          {{ form.email.label }}
        </div>
        <div class="control">
          {{ form.email(size=32, class_="input") }}
        </div>
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="field has-addons has-addons-right">
        <div class="control has-addons has-addons-right">
          {{ form.submit(class_="button is-link") }}
        </div>
      </div>
      {{ form.hidden_tag() }}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="label" style="color: red;">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="label">
        Already have an account? <a href="{{ url_for('auth.login') }}">Log in here.</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
