<!DOCTYPE html>
<html class="has-background-grey-dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ride Casa</title>
    {% if current_user.is_authenticated %}
    <script nonce="{{ csp_nonce() }}" type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    {% endif %}
    <link rel="stylesheet" href={{ url_for('static',filename='css/bulma.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='css/main.css') }}>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/ridecasa_logo.svg') }}">
    {% block head %}
    {% endblock %}

    <header>
      <nav class="navbar is-fixed-top is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('home.summary')}}">
            <figure class="image is-32x32">
              <img src="{{ url_for('static', filename='img/ridecasa_logo.svg') }}" />
            </figure>
            <h1 class="title has-text-dark">Ride Casa</h1></a>
          <h3 class="navbar-item has-text-dark">Alpha</h3>
          <a role="button" class="navbar-burger has-text-dark  is-transparent" aria-label="menu" aria-expanded="false" data-target="navbar_main">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbar_main" class="navbar-menu">
          <div class="navbar-start">
            <p class="has-text-dark is-size-7"><a href="mailto:~craftyguy/ridecasa@lists.sr.ht?subject=<bug report>">[Report a problem]</p>
          </div>
          <div class="navbar-end">
            {% if current_user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable has-text-dark">
              <a class="navbar-link has-text-dark">
                <strong>{{ current_user.username }}</strong>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item is-hoverable has-text-dark" href="{{ url_for('user.messages') }}">Messages</a>
                <a class="navbar-item is-hoverable has-text-dark" href="{{ url_for('settings.general') }}">Settings</a>
                <a class="navbar-item is-hoverable has-text-dark" href="{{ url_for('auth.logout') }}">Log out</a>
              </div>
            </div>
            <div class="navbar-item">
              <a class="button is-link toggle-modal" ><strong>+ Upload</strong></a>
            </div>
            {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-link" href="{{ url_for('auth.signup') }}"><strong>Sign up</strong></a>
                <a class="button is-light" href="{{ url_for('auth.login') }}">Log in </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
      {% if current_user.is_authenticated %}
      <!-- File importing modal -->
      <div class="modal" id="import_files_modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form id="import_form" action="{{ url_for('user.file_upload')}}" method="POST" enctype="multipart/form-data">
            <header class="modal-card-head">
              <p class="modal-card-title">Upload File(s)</p>
              <button class="delete toggle-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body" style="overflow:hidden">
              <div class="box" id="files_list" style="display:none; overflow-y: scroll; height: 200px"></div>
              <div class="field has-addons">
                <div class="file  has-name is-fullwidth">
                  <label class="file-label">
                    <input class="file-input" type="file" name="file" id="import_file" accept=".fit,.tcx,.zip" multiple>
                    <span class="file-cta" >
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">Choose file(s) to upload...</span>
                    </span>
                  </label>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <section>
                <div class="content is-pulled-left">
                  <p>
                    Supported file type(s):
                    <div class="tags">
                      <span class="tag is-link is-rounded are-medium">.fit</span>
                      <span class="tag is-link is-rounded are-medium">.tcx</span>
                    </div>
                  </p>
                  <p>Zip files containing the above supported file type(s) are also allowed.</p>
                  <p>Max size of selected files: 100MB</p>
                  <p>
                    <button type="submit is-success" value="Upload" class="button is-link" form="import_form">Upload</button>
                    <button class="button toggle-modal">Cancel</button>
                  </p>
                  <p class="control">
                    <label class="checkbox">
                      <input type="checkbox" name="overwrite" value="True">
                      Overwrite existing activities?</input>
                    </label>
                  </p>

                </div>
              </section>
            </footer>
          </form>
        </div>
      </div>
      {% endif %}

      {% if current_user.is_authenticated %}
      <script nonce="{{ csp_nonce() }}">
        $(document).ready(function() {

          // Check for click events on the navbar burger icon
          $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

          });
          // This provides a method for toggling the files importing modal, and
          // attaches to any elements with the 'toggle-modal' class
          var modal = document.getElementById('import_files_modal');
          var elements = document.getElementsByClassName('toggle-modal');
          for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', function(){
              modal.classList.toggle('is-active');
            });
          }
          // Display list of files to be imported when user selects them
          var file = document.getElementById("import_file");
          file.onchange = function(){
            var files_list = document.getElementById('files_list');
            if(file.files.length > 0){
              files_list.style.display = 'block';
              // Clear out any previously selected files from the list
              document.getElementById('files_list').innerHTML = '';
              for (i=0; i<file.files.length; i++){
                document.getElementById('files_list').innerHTML += file.files[i].name + "<br>";
              }
            } else {
              files_list.style.display = 'none';
            }
          };
        });
      </script>
              {% endif %}
    </header>
  </head>

  <body class="has-navbar-fixed-top">
    <div id="wrapper">
      <div class="container is-desktop">
        <div class="has-background-light">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <footer class="footer is-success hero">
      <div class="content has-text-centered has-text-dark">
        <p>
          <strong>Ride Casa</strong> by Clayton Craft. The source code is licensed
          <a href="https://www.gnu.org/licenses/gpl-3.0.html"><u>GPLv3</u></a>, and is
          <a href="https://git.sr.ht/~craftyguy/ridecasa"><u>available on sourcehut</u></a>.
          {% if config['APP_VERSION'] %}
          <span class="is-pulled-right is-size-7">
            Version: <a href="https://git.sr.ht/~craftyguy/ridecasa/commit/{{ config['APP_VERSION'] }}">{{ config['APP_VERSION'] }}</a>
          </span>
          {% endif %}
        </p>
      </div>
    </footer>

  </body>
</html>
