{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static',filename='css/leaflet.css') }}>
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.canvaswrapper.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.colorhelpers.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/leaflet.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.saturated.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.browser.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.drawSeries.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.uiConstants.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.resize.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.time.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.crosshair.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.axislabels.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.touchNavigate.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.hover.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.touch.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/moment-with-locales.min.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/leaflet-gesture-handling.min.js" nonce="{{ csp_nonce() }}"></script>
    <link rel="stylesheet" href={{ url_for('static',filename='css/leaflet-gesture-handling.min.css') }}>
{% endblock %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <div id="mapid" style="height:480px; z-index:1" class="box"></div>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="heading">{{ summary.sport }} Activity on</p>
      <p class="title is-4">
        <script  nonce="{{ csp_nonce() }}">
          document.write(moment("{{summary.startTime}}").format('LLL'));
        </script>
      </p>
      <p class="heading">in {{ summary.timezone }} timezone</p>

      {% if owned %}
      <div class="container">
        <form action="" method="post">
          <div class="field is-grouped">
            <button name="shareButton" class="button is-{{'danger' if is_public else 'warning'}}" type="submit" value="{{ public_token }}">{{'Unshare' if is_public else 'Share'}}</button>
            {% if is_public %}
            <div class="tooltip">
              <input id="sharedLink" class="input is-size-7 centered ml-2 mt-2" value="{{ url_for('activity.shared_activity', token=public_token, _external=True) }}" readonly >
              <span id="sharedLinkTooltip" class="tooltiptext">Click to copy to clipboard.</span>
              </input>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="tile is-child box">
      <table id="activity_table" class="table is-striped is-narrow is-hoverable is-fullwidth has-text-left has-text-weight-light is-size-6">
        <tr>
          <th>Avg Speed</th>
          <th>{{ summary.avg_speed }} km/hr</th>
        </tr>
        <tr>
          <th>Max Speed</th>
          <th>{{ summary.max_speed }} km/hr</th>
        </tr>
        {% if show_hr_chart %}
        <tr>
          <th>Avg Heart Rate</th>
          <th>{{ summary.avg_hr }} bpm</th>
        </tr>
        <tr>
          <th>Max Heart Rate</th>
          <th>{{ summary.max_hr }} bpm</th>
        </tr>
        {% endif %}
        {% if show_cadence_chart %}
        <tr>
          <th>Avg Cadence</th>
          <th>{{ summary.avg_cadence}} rpm</th>
        </tr>
        {% endif %}
        {% if summary.calories %}
        <tr>
          <th>Calories</th>
          <th>{{ summary.calories}}</th>
        </tr>
        {% endif %}
        <tr>
          <th>Total Ele. Gain</th>
          <th>{{ summary.alt_gain|int }} m</th>
        </tr>
        <tr>
          <th>Total Distance</th>
          <th>{{ (summary.distanceMeters / 1000.0)|round(2) }} km</th>
        </tr>
        <tr>
          <th>Moving Time</th>
          <th>{{ (summary.totalTimeSecs / 3600)|int() }}h {{((summary.totalTimeSecs % 3600) / 60)|int()}}m</th>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="content">
  <section class="section">
    <section class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Speed (km/hr)</p>
          <p class="title is-4" id="speed_div">--</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Elevation (m)</p>
          <p class="title is-4" id="elev_div">--</p>
        </div>
      </div>
      {% if show_hr_chart %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Heart Rate (bpm)</p>
          <p class="title is-4" id="hr_div">--</p>
        </div>
      </div>
      {% endif %}
      {% if show_cadence_chart %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Cadence (rpm)</p>
          <p class="title is-4" id="cadence_div">--</p>
        </div>
      </div>
      {% endif %}
    </section>
    <div class="container" style="display:flex; justify-content: flex-end">
      <form id="formChartAxis" action="" method="post" novalidate >
        <div class="field is-grouped" style="">
          <span class="centered">View charts by</span><div class="select">{{ chart_axis_form.axis(class_="select") }}</div>
        </div>
      </form>
    </div>
    <span class="is-6 centered has-text-weight-bold" style="margin-bottom: -12px">Elevation</span>
    <div id="elevation_chart" style="height:100px; width:100%"></div>
    {% if show_hr_chart %}
    <span class="is-6 centered has-text-weight-bold" style="margin-bottom: -12px">Heart Rate</span>
    <div id="hr_chart" style="height:100px; width:100%"></div>
    {% endif %}
    <span class="is-6 centered has-text-weight-bold" style="margin-bottom: -12px">Speed</span>
    <div id="speed_chart" style="height:100px; width:100%"></div>
    {% if show_cadence_chart %}
    <span class="is-6 centered has-text-weight-bold" style="margin-bottom: -12px">Cadence</span>
    <div id="cadence_chart" style="height:100px; width:100%"></div>
    {% endif %}
  </section>
</div>

<script nonce="{{ csp_nonce() }}">
	// set up the map

  var map = new  L.map('mapid', {
    zoomDelta: .75,
    zoomSnap: 0.5,
    doubleClickZoom: true,
    scrollWheelZoom: false,
    gestureHandling: true
  });

  class Tp{
    constructor(time, lat, lon, hr, alt, spd, cadence, distance) {
      this.time = time;
      this.latlon = [lat, lon];
      this.hr = hr;
      this.alt = alt;
      this.spd = spd;
      this.cad = cadence;
      this.dis = distance / 1000;
    }
  }

  function time_to_index(time, trackpoints){
    var left = 0;
    var right = trackpoints.length - 1;
    while (left <= right){
      var mid = Math.floor((left + right) / 2);
      tp_mid_time = trackpoints[mid].time;
      if (tp_mid_time == time){
        return mid;
      } else if (tp_mid_time < time){
        left = mid + 1;
      } else {
        right = mid - 1;
      }
    }
    return -1;
  }

  function distance_to_index(distance, trackpoints){
    var left = 0;
    var right = trackpoints.length - 1;
    while (left <= right){
      var mid = Math.floor((left + right) / 2);
      tp_mid_distance = trackpoints[mid].dis;
      if (tp_mid_distance == distance){
        return mid;
      } else if (tp_mid_distance < distance){
        left = mid + 1;
      } else {
        right = mid - 1;
      }
    }
    return -1;
  }

  var trackpoints = [
    {% for tp in trackpoints %}new Tp({{tp.startOffsetSeconds}},{{tp.lat}},{{tp.lon}},{{tp.heartrate}},{{tp.altitudeMeters}},{{tp.speed}},{{tp.cadence}},{{tp.distanceMeters}}),{% endfor %}
  ];

  var latlons = trackpoints.map(x => x.latlon);

  {% if xaxis == 'time' %}
  var alt_data = trackpoints.map(x => [x.time * 1000, x.alt]);
  var hr_data = trackpoints.map(function (x){
    if (x.hr){
      return [x.time * 1000, x.hr];
    }
  });;
  var speed_data = trackpoints.map(function (x){
    if (x.spd){
      return [x.time * 1000, x.spd];
    }
  });;
  var cadence_data = trackpoints.map(function (x){
    if (x.cad){
      return [x.time * 1000, x.cad];
    }
  });;
  {% elif xaxis == 'distance' %}
  var alt_data = trackpoints.map(x => [x.dis, x.alt]);
  var hr_data = trackpoints.map(function (x){
    if (x.hr){
      return [x.dis, x.hr];
    }
  });;
  var speed_data = trackpoints.map(function (x){
    if (x.spd){
      return [x.dis, x.spd];
    }
  });;
  var cadence_data = trackpoints.map(function (x){
    if (x.cad){
      return [x.dis, x.cad];
    }
  });;
  {% endif %}

  var trackGroup = L.featureGroup()
  var tp_segment_indexes = {{ tp_segment_indexes|tojson }};
  if (tp_segment_indexes.length > 0){
    for (var i = 0; i < tp_segment_indexes.length; i++){
      if (i < tp_segment_indexes.length - 1){
        var end = tp_segment_indexes[i + 1] - 1;
      } else {
        var end = latlons.length - 1;
      }
      start = tp_segment_indexes[i];
      var segment = [];
      for (var t = start; t < end; t++){
        segment.push(latlons[t]);
      }
      var trackSegment = L.polyline(segment, {color: 'red', weight: 4});
      trackGroup.addLayer(trackSegment);
    }
  } else {
    // track does not pass through any geofence, or none defined/enabled
    var track = L.polyline(latlons, {color: 'red', weight: 4});
    trackGroup.addLayer(track);
  }
  trackGroup.addTo(map);

  var trackdot = null;

  // center map on track(s)
  try{
    map.fitBounds(trackGroup.getBounds());
  }catch(e){
    // if viewing public activity and geofence is enabled but activity falls
    // entirely within the geofence, we'll end up here since there are no
    // trackpoints.

    // TOOD: consider hiding map and displaying some message that the user
    // chose to not share this information?
  }

  // Adapted from: https://stackoverflow.com/questions/16202968/using-leaflet-mapping-api-how-do-you-determine-which-point-in-a-polyline-was-cl/23947368#23947368
  var _getClosestPointIndex = function(lPoint, arrayLPoints) {
    var distanceArray = [];
    // Threshold for distance from mouse pointer to line
    distance_threshold = 5000 / Math.sqrt(map.getZoom())
    array_len = arrayLPoints.length;
    for ( var i = 0; i < array_len; i++ ) {
      distanceArray.push(lPoint.distanceTo(arrayLPoints[i]));
    }
    closestPt = Math.min.apply(null, distanceArray);
    if  (closestPt <= distance_threshold)
      return distanceArray.indexOf(  Math.min.apply(null, distanceArray) );
    return null;
  };

	// create the tile layer with correct attribution
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});
	map.addLayer(osm);

  function tickFormatter(val, axis) {
  {% if xaxis == 'time' %}
    var s = val / 1000;
    var h = Math.floor(s / 3600);
    var m = Math.floor((s % 3600) / 60);
    if (h < 10){
      h = '0' + h;
    }
    return h + ':' + m;
  {% elif xaxis == 'distance' %}
    return val + 'km';
  {% endif %}
  }

  var elev_div = document.getElementById("elev_div");
  var elevation_chart = $.plot($("#elevation_chart"), [alt_data], {
    legend: {
      show: false
    },
    crosshair: {
      mode: 'x',
      color: "rgba(51, 136, 255, 1)",
      lineWidth: 3,
    },
    grid: {
      hoverable: true,
      clickable: true,
      mouseActiveRadius: 100,
    },
    series: {
      lines: {
        fill: true,
        fillColor: { colors: [ { opacity: 0.8 }, { opacity: 0.1 } ] }
      },
    },
    xaxis: {
        tickFormatter: tickFormatter,
      },
    yaxes: [
      {
        position: 'left',
        axisLabel: 'meters',
        min: {{ summary.min_ele * 0.9 }},
        max: {{ summary.max_ele * 1.05 }},
      }],
  });

  {% if show_hr_chart %}
  var hr_div = document.getElementById("hr_div");
  var hr_chart = $.plot($("#hr_chart"), [hr_data], {
    legend: {
      show: false
    },
    crosshair: {
      mode: 'x',
      color: "rgba(51, 136, 255, 1)",
      lineWidth: 3,
    },
    grid: {
      hoverable: true,
      clickable: true,
      mouseActiveRadius: 100,
    },
    series: {
      lines: {
        fill: true,
        fillColor: { colors: [ { opacity: 0.8 }, { opacity: 0.1 } ] }
      },
    },
    colors: ["#ff4d4d"],
    xaxis: {
      tickFormatter: tickFormatter,
    },
    yaxes: [
      {
        position: 'left',
        axisLabel: 'bpm',
        min: {{ summary.min_hr * 0.8 }},
      }],
  });
  {% endif %}

  var speed_div = document.getElementById("speed_div");
  var speed_chart = $.plot($("#speed_chart"), [speed_data], {
    legend: {
      show: false
    },
    crosshair: {
      mode: 'x',
      color: "rgba(51, 136, 255, 1)",
      lineWidth: 3,
    },
    grid: {
      hoverable: true,
      clickable: true,
      mouseActiveRadius: 100,
    },
    series: {
      lines: {
        fill: true,
        fillColor: { colors: [ { opacity: 0.8 }, { opacity: 0.1 } ] }
      },
    },
    colors: ["#4400dd"],
    xaxis: {
      tickFormatter: tickFormatter,
    },
    yaxes: [
      {
        position: 'left',
        axisLabel: 'km/hr',
      }],
  });

  {% if show_cadence_chart %}
  var cadence_div = document.getElementById("cadence_div");
  var cadence_chart = $.plot($("#cadence_chart"), [cadence_data], {
    legend: {
      show: false
    },
    crosshair: {
      mode: 'x',
      color: "rgba(51, 136, 255, 1)",
      lineWidth: 3,
    },
    grid: {
      hoverable: true,
      clickable: true,
      mouseActiveRadius: 100,
    },
    series: {
      lines: {
        fill: true,
        fillColor: { colors: [ { opacity: 0.8 }, { opacity: 0.1 } ] }
      },
    },
    colors: ["#33cc33"],
    xaxis: {
      tickFormatter: tickFormatter,
    },
    yaxes: [
      {
        position: 'left',
        axisLabel: 'rpm',
      }],
  });
  {% endif %}

  /*
    Lock vertical line on charts when cursor moves over one of the charts
   */
  function lock_charts(x, index) {
    {% if show_hr_chart %}
    hr_chart.lockCrosshair({x:x});
    hr_div.textContent = trackpoints[index].hr;
    {% endif %}
    elevation_chart.lockCrosshair({x:x});
    elev_div.textContent = Math.round(trackpoints[index].alt * 10) / 10;
    speed_chart.lockCrosshair({x:x});
    speed_div.textContent = Math.round(trackpoints[index].spd * 10) / 10;
    {% if show_cadence_chart %}
    cadence_chart.lockCrosshair({x:x});
    cadence_div.textContent = Math.round(trackpoints[index].cad * 10) / 10;
    {% endif %}
  }

  function chart_hover (evt, position, item) {
    if ( item ) {
      x = item.datapoint[0];
      {% if xaxis == 'time' %}
      index = time_to_index(x / 1000, trackpoints);
      {% elif xaxis == 'distance' %}
      index = distance_to_index(x, trackpoints);
      {% else %}
      // not implemented for this axis: {{ xaxis }}
      return;
      {% endif %}
      lock_charts(x, index)
      latlon = trackpoints[index].latlon
      if (self.trackdot){
        self.trackdot.remove(map);
      }
      self.trackdot = L.circleMarker(latlon, {
        radius: 5,
        fill: true,
        fillOpacity: 1,
      });
      self.trackdot.addTo(map);
    }
  }

  /*
    Events for map
  */
  map.addEventListener('mousemove', function(e) {
     var index = _getClosestPointIndex(e.latlng, latlons);
    if (index){
      if (self.trackdot)
        self.trackdot.remove(map);
      {% if xaxis == 'time' %}
      // convert time in seconds to ms
      lock_charts(trackpoints[index].time * 1000, index);
      {% elif xaxis == 'distance' %}
      lock_charts(trackpoints[index].dis, index);
      {% else %}
      // not implemented for this axis: {{ xaxis }}
      {% endif %}
      self.trackdot = L.circleMarker(trackpoints[index].latlon, {
        radius: 5,
        fill: true,
        fillOpacity: 1,
      });
      self.trackdot.addTo(map)
    }
  });

  $("#elevation_chart").bind("plothover", function (e, pos, item){
    if (item){
      chart_hover(e, pos, item);
    }
  });

  {% if show_hr_chart %}
  $("#hr_chart").bind("plothover", function (e, pos, item){
    if (item){
      chart_hover(e, pos, item);
    }
  });
  {% endif %}

  $("#speed_chart").bind("plothover", function (e, pos, item){
    if (item){
      chart_hover(e, pos, item);
    }
  });

  {% if show_cadence_chart %}
  $("#cadence_chart").bind("plothover", function (e, pos, item){
    if (item){
      chart_hover(e, pos, item);
    }
  });
  {% endif %}

  {% if owned %}
  var sharedLink = document.getElementById("sharedLink");
  if (sharedLink){
    sharedLink.onclick = function () {
      var copyText = document.getElementById("sharedLink");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand('copy');
      var tooltip = document.getElementById("sharedLinkTooltip");
      tooltip.innerHTML = "Copied to clipboard!";
    }
    sharedLink.onmouseout = function () {
      var tooltip = document.getElementById("sharedLinkTooltip");
      tooltip.innerHTML = "Click to copy to clipboard.";
    }
  }
  {% endif %}

  $("#chartAxisSelect").change(function (){
      $("#formChartAxis").submit();
  });

</script>


{% endblock %}
