{% extends "layout.html" %}
{% block head %}
    <script nonce="{{ csp_nonce() }}" type="text/javascript" src="/static/js/moment-with-locales.min.js"></script>
{% endblock %}

{% block content %}
<section class="section">
  <div class="field">
    <div class="field" id="chart_section">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Message</th>
          </tr>
        </thead>
        {% for message in msgs %}
        <tr>
          <th>{{message.msg_type}}</th>
          <th>
            <script nonce="{{ csp_nonce() }}">
              document.write(moment("{{message.msg_date}}").format('LLL'));
            </script>
          </th>
          <th>{{message.msg}}</th>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="field">
    <div class="container">
    </div>
  </div>
</section>

{% endblock %}
