{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="tabs">
    <ul>
      <li {% if selected_tab == "summary" %}class="is-active"{% endif %}><a href="{{ url_for('home.summary') }}">Summary</a></li>
      <li {% if selected_tab == "monthly" %}class="is-active"{% endif %}><a href="{{ url_for('home.monthly') }}">Monthly Totals</a></li>
    </ul>
  </div>
</section>
{% block home_content %}
{% endblock %}
{% endblock %}
