{% extends "home/layout.html" %}
{% block head %}
{% endblock %}

{% block home_content %}
<section class="hero is-success is-medium">
  <div class="container">
  </div>
</section>
<section class="section centered">
  {% if total_dicts %}
  <div class="table-container">
    <table class="table is-hoverable is-fullwidth table-container" id="monthly_table">
      <thead>
        <tr>
          <th></th>
          {% for month in months %}
          <th>{{month}}</th>
          {% endfor %}
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for year_dict in total_dicts %}
        <tr>
          <th>{{year_dict['year']}}</th>
          {% for m in range(12) %}
          <th>
            {% if m in year_dict['months'] %}
            <div class="centered">
              {% set percentage = year_dict['months'][m] / max_month_distance %}
              {% set dimension = 45 *  percentage %}
              <div class="circle" style="background-color: #70C1B3; width: {{dimension}}px; height: {{dimension}}px; opacity: {{percentage}}"></div>
              <p class="has-text-centered" style="font-size:.6em">{{year_dict['months'][m]|round(2)|string + ' km'}}</p>
            </div>
            {% endif %}
          </th>
          {% endfor %}
          <th>{{year_dict['total']}} km</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="label is-medium" style="text-align:center">No activies here! Use the upload button above to start uploading activities!</div>
  {% endif %}
</section>


<script nonce="{{ csp_nonce() }}">
</script>

{% endblock %}
