{% extends "home/layout.html" %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.canvaswrapper.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.colorhelpers.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/moment-with-locales.min.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.saturated.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.browser.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.drawSeries.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.uiConstants.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.resize.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.time.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.touchNavigate.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.hover.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.flot.touch.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.tablesorter.js" nonce="{{ csp_nonce() }}"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.tablesorter.widgets.js" nonce="{{ csp_nonce() }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/tablesorter.theme.ice.css') }}">
{% endblock %}

{% block home_content %}
<section>
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Avg Speed (km/hr)</p>
          <p class="title">{{ total_summary['speed']|round(2) }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Distance (km)</p>
          <p class="title">{{ (total_summary['distanceMeters'] / 1000.0)|round(2) }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Moving Time</p>
          <p class="title">{{ (total_summary['time'] / 3600)|int() }}h {{((total_summary['time'] % 3600) / 60)|int()}}m</p>
        </div>
      </div>
    </nav>
  </div>
</section>
<section class="section">
  {% if total_summary['activities'] %}
  <div class="field">
  {% if activities_summary|length > 0 %}
    <div class="label is-small" style="text-align:center">Distance (km)</div>
    <div class="field" id="chart_section">
      <div id="chartid" style="height:360px" class="box"></div>
    </div>
  {% else %}
    <div class="label is-medium" style="text-align:center">No activities in the selected date range</div>
  {% endif %}
  </div>
  <div class="field">
    <div class="container">
      <form id="formDateFilter" action="" method="post" novalidate>
        <div class="field is-grouped">
          <div class="select">{{ form.year(class_="select") }}</div>
          <div class="select">{{ form.month(class_="select") }}</div>
        </div>
      </form>
    </div>
  </div>
  {% if activities_summary|length > 0 %}
  <div class="field">
    <table class="tablesorter-ice" id="activity_table">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Date</th>
          <th>Distance (km)</th>
          <th>Avg Speed (km/hr)</th>
        </tr>
      </thead>
      {% for activity in activities %}
      <tr>
        <th>{{activity.sport}}</th>
        <th><a href="{{ '/activity/' + activity.activity_id|string}}">
            <script nonce="{{ csp_nonce() }}">
              document.write(moment("{{activity.startTime}}").format('LLL'));
            </script>
          </a>
        </th>
        <th>{{(activity.distanceMeters / 1000.0)|round(2)}}</th>
        <th>{{(activity.avg_speed)|round(2)}}</th>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  {% else %}
  <div class="label is-medium" style="text-align:center">No activies here! Use the upload button above to start uploading activities!</div>
  {% endif %}
</section>


<script nonce="{{ csp_nonce() }}">
  function gd(year, month, day) {
    return new Date(year, month - 1, day).getTime();
  }

  var formYearSelect = document.getElementById("formYearSelect");
  var formMonthSelect = document.getElementById("formMonthSelect");
  var formDateFilter = document.getElementById("formDateFilter");
  if (formMonthSelect){
    formMonthSelect.onchange = function (){
      formDateFilter.submit();
    }
  }
  if (formMonthSelect){
    formYearSelect.onchange =  function (){
      formDateFilter.submit();
    }
  }

  chart_dataset = [
    {% for activity in activities_summary %}
    [new Date({{activity[0]}}, {{activity[1]}}-1, {{activity[2]}}).getTime(),{{(activity[3] / 1000.0)|round(2)}}],
    {% endfor %}
  ];

  var minTime;
  var maxTime;

  for (i=0; i<chart_dataset.length; i++){
    time = chart_dataset[i][0];
    if (!maxTime || time > maxTime){
      maxTime = time;
    }
    if (!minTime || time < minTime){
      minTime = time;
    }
  }
  if (maxTime == minTime) {
    padding = 1000 * 3600 * 24;  // miliseconds in day
    if ("{{chart_x_axis_unit}}" == "month"){
      padding *= 7 * 2;  // 2 weeks;
    } else if ("{{chart_x_axis_unit}}" == "year"){
      padding *= 7 * 4 * 6;  // ~6 months;
    }
    minTime -= padding;
    maxTime += padding;
  }
  if (chart_dataset.length == 1) {
    chart_dataset.push([minTime, 0]);
    chart_dataset.push([maxTime, 0]);
  }

  if (chart_dataset.length > 0){
    // totalWidth = (numBars * barSize) + ((1 + numBars) * barSize), solved for barSize
    // from: https://stackoverflow.com/a/25367550
    var total_time = moment.duration(maxTime - minTime);
    if ("{{chart_x_axis_unit}}" == "month"){
      total_time = total_time.asMonths();
    } else if ("{{chart_x_axis_unit}}" == "day"){
      total_time = total_time.asDays();
    } else if ("{{chart_x_axis_unit}}" == "year"){
      total_time = total_time.asYears();
    }
    var barWidth = (total_time / ((2 * chart_dataset.length) + 1));

    var chartid = $.plot($("#chartid"), [chart_dataset], {
      legend: {
        show: false
      },
      grid: {
        hoverable: true,
        clickable: true,
      },
      series: {
        bars: {
          show: true,
          barWidth: barWidth,
          fill: true,
          fillColor: { colors: [ { opacity: 1.0 }, { opacity: 1.0 } ] },
          align: 'center',
        },
      },
      colors: ["#70C1B3"],
      xaxis: {
        mode: 'time',
        timezone: 'browser',
        minTickSize: [1, "{{chart_x_axis_unit}}"],
        tickLength: 0,
        timeBase: "milliseconds",
      },
    });

    $("<div id='charttooltip'></div>").css({
      position: "absolute",
      display: "none",
      border: "1px solid #fdd",
      padding: "2px",
      "background-color": "#fee",
      opacity: 0.80
    }).appendTo("body");

    $("#chartid").bind("plothover", function (event, pos, item) {
      if (item) {
        var distance = item.datapoint[1].toFixed(2);
        $("#charttooltip").html(distance + " km")
          .css({top: item.pageY, left: item.pageX})
          .fadeIn(50);
      } else {
        $("#charttooltip").hide();
      }
    });

    // Initialize sorting on activity table, sort the date column by default
    // in desc order
    $(function() {
      $("#activity_table").tablesorter({
        sortList: [[1,1]],
        // initialize zebra striping and column styling of the table
        widgets : ["zebra", "columns"],

        widgetOptions : {
          columns_thead : true,
          // include tfoot when adding class names
          columns_tfoot : true
        }
      });
    });

  }
</script>

{% endblock %}
