{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Page not found...</h1>
    <figure class="image">
      <img width="240" height="135" src="{{ url_for('static',filename='img/404.png') }}"/>
    </figure>
  </div>
</section>

{% endblock %}
